@font-face {
    font-family: 'Kill The Lights';
    src: url('KillTheLights.eot');
    src: url('KillTheLights.eot?#iefix') format('embedded-opentype'),
        url('KillTheLights.woff2') format('woff2'),
        url('KillTheLights.woff') format('woff'),
        url('KillTheLights.ttf') format('truetype'),
        url('KillTheLights.svg#KillTheLights') format('svg');
    font-weight: 300;
    font-style: normal;
}

